.title {
  text-align: center;
  font-size: 180px;
  color: #E3B433;
  float: center;
  margin: 0 auto;
  width:100%;
  display: block;
  margin-top: 145px;
}

button {
	margin-top: 25px;
	margin-left: 35px;
	margin-right: 35px;
	color: #E3B433;
	background-color: #17408B;
	font-size: 15px;
	size: 40px;
	border-color:orange;
}

.description {
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	color:#E3B433;
}

.buttons {
	margin-top: 40px;
	text-align: center;
	display: inline-block;
	border-color: yellow;
}
